/* Main Style */

a {
  line-height: 0.8;
}

.container {
  padding: 20px;
}

.grid, .icons-grid {
  grid-template-columns: 1fr;
}


/* Navbar */
#navbar {
  text-align: center;
}

#navbar .logo {
  float: none;
  padding: 10px;
}

#navbar ul {
  float: none;
}

#navbar ul li {
  float: none;  
  border-bottom: 1px #555  solid;
}

#navbar ul li a {
  padding: 15px;
}

/* Showcase */

#showcase {
  height: 50vh;
}
#showcase .showcase-content {
  padding-top: 60px;
}

#home-info .info-content {
  padding: 18px;
  width: 100%;
  height: auto;
}

/* Features */
.box {
  float: none;
  width: 100%;
}

/* About Page */

#about-info img {
  margin-top: 30px;
  height: 50%;
}
#testimonials {
  height: 100%;
}